* {
  margin: ;
  padding: ;
}

.navbar {
  border: 50px green;
  background-color: lightblue;
  Padding: 100px;
  margin: 50px;


}

.content {
  border: 50px red;
  background-color: lightgreen;
  
}
