* {
  margin: ;
  padding: ;
}

.navbar {
  border: 50px green;
  background-color: lightblue;
  Padding: 100px;
  margin: 50px;
  text-decoration: none;
  
}

.navcon main {

 font-size: 14px;
 font-color: white;
 background: blue;
 border-radius: 30px;

}

.navcon {
 Padding-right: 5px;
 Padding-left:5px;
}

.content {
  border: 50px red;
  background-color: lightgreen;
  
}
