* {
  margin: ;
  padding: ;
}

.navbar {
  border: 50px green;
  background-color: lightblue;
  Padding: 100px;
  margin: 50px;
  text-decoration: none;
  
}

.navcon main {
 margin: 0px 10px;
 font-size: 14px;
 font-color: white;
 background: blue;
 border-radius: 30px;

}

.navlink {
 margin: 0px 5px;
 font-color: black;
}

.content {
  border: 50px red;
  background-color: lightgreen;
  
}
